services:
  caddy:
    image: caddy:2.11
    restart: unless-stopped
    ports:
      - "8082:80"
      - "8443:443"
      - "8443:443/udp"
    volumes:
    - ./caddy_config:/etc/caddy/
    - ./src/frontend:/srv
    - ./.data/caddy:/data
    - ./.data/caddy_runtime:/config
  mariadb:
    image: mariadb:12.2
    container_name: mariadb_main
    restart: unless-stopped
    secrets:
      - root_password
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/root_password
    ports:
      - "3306:3306"
    volumes:
      - ./.data/mariadb:/var/lib/mysql

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8081:8080"

secrets:
  root_password:
    file: ./.secrets/mariadb/rootpw.txt