services:
  mariadb:
    image: mariadb:12.2
    container_name: mariadb_main
    restart: unless-stopped
    secrets:
      - root_password
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/root_password
    ports:
      - "3306:3306"
    volumes:
      - ./.data:/var/lib/mysql

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8081:8080

secrets:
  root_password:
    file: ./.secrets/mariadb/rootpw.txt