import upstreams.caddy

# Modify this to include any other domains or ip addresses as desired
localhost {
    import test
    root * /srv
    file_server

    handle /api/* {
        uri strip_prefix /api
        reverse_proxy api:9000
    }
}