# Main site
:80 {

    redir /voidkts /voidkts/

    handle /voidkts/* {
        root * /srv
        file_server
    }

    handle /health {
        respond "OK" 200
    }
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy api:9000
    }
}